body{
	background-color:#1B1E25;
	width:100%;
	height:100%;
	overflow:hidden;
	margin:0;
}

/*
 *  STYLE 3
 *  Scrollbar belongs to Devstreak on Codepen
 */

#style-3::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar-thumb
{
	background-color: #000000;
}

/* Header */

.header{
	background-image:url(../img/backgrounds/writing.jpg);
	background-size:cover;
	color:#fff;
	margin-bottom:50px;
}
.header .first-name, .last-name{
	position:relative;
	cursor:default;
}

.header .first-name{
	font-weight:100;
	left:200px;
}

.header .last-name{
	left:150px;
	bottom:30px;
	color:#485eef;
	font-weight:bold;
}

/* Sidebar Navigation */

.projects{
	text-align:right;
	font-size:2rem;
}

.projects a{
	list-style:none;
	color:#fff;
	transition:padding-right 200ms ease;
}

.projects a:hover{
	border-right:1px solid #485EEF;
	padding-right:10px;
}

@media only screen and (max-width: 550px){
	.projects{
		display:inline-block;
		margin:0 auto;
		text-align:center;
	}
	
	.projects a{
		font-size:1.5rem;
		padding-right:0;
		border-bottom:1px solid transparent;
		padding-bottom:5px;
		transition:border-bottom 200ms ease;
	}
	
	.projects a:hover{
		padding-right:0;
		border-right:none;
		border-bottom:1px solid #485EEF;
	}
}

@media only screen and (max-width: 1000px){
	.projects{
		font-size:1.5rem;
	}
}

/* Main body */

.columns{
	margin-left:0;
}

.body{
	overflow:auto;
	max-height:500px;
	text-align:center;
}

.body img{
	border:1px solid #ddd;
	border-radius:4px;
	padding:5px;
	margin-top:5px;
	max-width:90%;
	max-height:90%;
	box-shadow: 0 0 2px 1px transparent;
	/*filter: blur(2px) grayscale(100%);*/
	transition: box-shadow 200ms ease-in-out;
}

.body img:hover{
	/*filter: blur(0px)*/
	box-shadow: 0 0 5px 1px #fff;
}

.body span{
	color:#485EEF;
	font-size:6rem;
	z-index:1;
	top:150px;
	left:500px;
}

/* Footer */

.footer{
	background-color:#4d566a;
	position:absolute;
	width:100%;
	padding:5px 0;
	color:#fff;
	cursor:default;
	bottom:0;
	left:0;
}

.footer p{
	float:right;
	margin:0;
	margin-right:20px;
}

.footer ul{
	list-style:none;
	padding:0;
	margin:0;
	float:left;
	margin-left:20px;
}

.footer li{
	display:inline;
	margin-right:5px;
}

.footer img{
	width:24px;
	height:24px;
	opacity:0.5;
	cursor:default;
	box-shadow:none;
	border-radius:50%;
	transition:box-shadow 200ms ease;
}

.footer img:hover{
	opacity:1;
	box-shadow:0px 0px 5px #b9c1f9;
}