<div class="row">
	<div class="nav three columns">
		<ul class="projects" ng-repeat="project in allProjects">
			<li><a href="#!/{{$index}}">{{project.name}}</a></li>
		</ul>
	</div>
	<div class="body nine columns">
		<a href={{projects.img}}><img ng-src="{{projects.img}}" /></a>
		<!--<div class="overlay">
			<a href={{projects.img}}><h2>Click to <br />
			Expand Image
			</h2></a>
		</div>-->
		<!--<div class="image-thumbnail">
			<a href={{projects.img}}><img ng-src="{{projects.img}}" /></a>
		</div>-->
	</div>
</div>

<!--<h1 style="color:white;">{{hello}}</h1>-->